<div style="display: flex; align-items: center; justify-content: center;flex-direction: column;">
  <span>YelpCamp 2023</span>
  <span
    >Built with &#x2661; by
    <a
      style="color: #fff; text-decoration: none"
      href="https://www.instagram.com/_rohit._n.d.b.td/"
      >Rohit Pandey</a
    ></span
  >
</div>
